
        .prompt-thin {
            font-family: "Prompt", sans-serif;
            font-weight: 100;
            font-style: normal;
        }

        .prompt-extralight {
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-style: normal;
        }

        .prompt-light {
            font-family: "Prompt", sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        .prompt-regular {
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .prompt-medium {
            font-family: "Prompt", sans-serif;
            font-weight: 500;
            font-style: normal;
        }

        .prompt-semibold {
            font-family: "Prompt", sans-serif;
            font-weight: 600;
            font-style: normal;
        }

        .prompt-bold {
            font-family: "Prompt", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        .prompt-extrabold {
            font-family: "Prompt", sans-serif;
            font-weight: 800;
            font-style: normal;
        }

        .prompt-black {
            font-family: "Prompt", sans-serif;
            font-weight: 900;
            font-style: normal;
        }

        .prompt-thin-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 100;
            font-style: italic;
        }

        .prompt-extralight-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 200;
            font-style: italic;
        }

        .prompt-light-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 300;
            font-style: italic;
        }

        .prompt-regular-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: italic;
        }

        .prompt-medium-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 500;
            font-style: italic;
        }

        .prompt-semibold-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 600;
            font-style: italic;
        }

        .prompt-bold-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 700;
            font-style: italic;
        }

        .prompt-extrabold-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 800;
            font-style: italic;
        }

        .prompt-black-italic {
            font-family: "Prompt", sans-serif;
            font-weight: 900;
            font-style: italic;
        }

        body {
            background-color: black;
        }

        .header-text {
            text-align: center;
            color: #000000;
        }

        .header-container {
            background-color: rgb(255, 255, 255);
            padding: 1%;
            border-radius: 10px;
            width: 25%
        }

        .flex-header {
            display: flex;
            justify-content: center;

        }

        .img-container {
            justify-content: center;
        }

        .nav-menu-container {
            background-color: rgb(255, 255, 255);
            margin-top: 1%;
            margin-bottom: 1%;
            padding: 1%;
            border-radius: 10px;
            text-align: center;
        }

         .nav-menu-item {
            margin-left: 1%;
            margin-right: 1%;
            color:rgb(0, 0, 0);
            text-decorstion: rgb(0, 0, 0);
        }


