body {
                background: radial-gradient(circle at top, #000000);
                background-size: 90000px;
                background-position: 50%;
                color: #ffffff;
                text-align: center;
            }

            button {
                font-size: 16px;
                font-weight: 600;
                border: none;
                color: black;
                background: #e95757;
                border-radius: 8px;
            }